
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid" style="text-align: center;">
    <img class="img-fluid" src="~/img/employees.jpg" />
</div>

<h1>About Employers Web</h1>

<span>
    <p>  At DSS Group we open doors for thousands of job seekers throughout Canada every year.</p> 
    <p>We invest in lifetime relationships with the candidates we place and work hard to develop fulfilling careers for the professionals we serve.</p>
    <p>Recruiters at DSS Group have strong relationships in the hidden job market.<p>
    <p>Job seekers who partner with us ensure their resume is always at the top of the pile.</p>
</span>
